<!-- <form class="container col-lg-4" #empForm="ngForm"(ngSubmit)="readFormData(empForm)">
  <H1>Login App Component</H1>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" name="email" required id="emailid" #ename="ngModel" ngModel aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    <br>
    <span style="color: red" *ngIf="ename.touched && ename.invalid">Email is required</span>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label ">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" #pass="ngModel" required name="pwd" ngModel>
    <span style="color: red" *ngIf="pass.invalid && pass.touched">Password is Mandatory</span>
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-success"  [disabled]="empForm.invalid">Submit</button>
</form> -->
<app-patient></app-patient>